<div id="p-wrapper">
  <ul id="piano">
    <li><div class="anchor"></div></li>
    <li><div class="anchor"></div><span></span></li>
    <li><div class="anchor"></div><span></span></li>
    <li><div class="anchor"></div></li>
    <li><div class="anchor"></div><span></span></li>
    <li><div class="anchor"></div><span></span></li>
    <li><div class="anchor"></div><span></span></li>
  </ul>
</div>

<div class="credit">
  <strong>Pure CSS3 Piano by Taufik Nurrohman</strong><br />
  No Images, No JavaScripts! Usable for navigation too <strong style="color:#CE877B;">:)</strong><br />
  <div class="credit_ribbon"></div>
</div>

<!-- <%#= image_tag("bicycle.jpg", size: "400x300", class: "img-responsive my-image") %> -->
<!-- <p>Welcome! The date and time is <%#= Time.now %></p> -->
